body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body * {
  box-sizing: border-box;
}
button {
  border: none;
  border-radius: 0;
  padding: 0;
}
h1 {
  font-weight: 300;
  margin: 12px 0;
}

.BlueBackground {
  background-color: #4054a5;
  color: white;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
