.UsersTable .NameTh {
  width: 200px;
}

.UsersTable .EmailTh {
  width: 270px;
}

.UsersTable thead th:nth-child(3) {
  width: 20%;
}
.UsersTable thead th:nth-child(3) {
  width: 10%;
}

.UsersTable td > svg {
  height: 20px;
}

.EditUserModal {
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.EditUserModal .Content {
  flex-grow: 1;
  display: flex;
}
.EditUserModal .ActionRow {
  justify-content: flex-end;
}
