table.UsersTable .NameTh {
  width: 200px;
}

table.UsersTable .EmailTh {
  width: 270px;
}

table.UsersTable thead th:nth-child(3) {
  width: 20%;
}
table.UsersTable thead th:nth-child(3) {
  width: 10%;
}

table.UsersTable td,
table.UsersTable th {
  padding: 0;
}
table.UsersTable td > svg {
  height: 20px;
}

.EditUserModal {
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}
.EditUserModal .Content {
  flex-grow: 1;
  display: flex;
}
.EditUserModal .ActionRow {
  justify-content: flex-end;
}
